
*.eps
*.png
*.asv
*.txt
*.slxc
*.~$*

Main/funktionen/AnalyseDEL_2.m
Main/Post_processing
Main/Post_processing/*	
FAST_Sim_TEF/5MW-Turbine-Inputfiles/5MW_Land.SFunc*
FAST_Sim_TEF/5MW-Turbine-Inputfiles/Sub-Inputfiles/Airfoils_Flaps_Re_angepasst/Fig*
FAST_Sim_TEF/5MW-Turbine-Inputfiles/Sub-Inputfiles/Airfoils_Flaps_Re_angepasst/fig*
FAST_Sim_TEF/5MW-Turbine-Inputfiles/Sub-Inputfiles/Airfoils_Flaps_Re_angepasst/*.m
Main/funktionen/fig*
Main/plotFunktionen/fig*
Main/slprj/*
Main/DataTheif
Main/DataTheif/*
